<!DOCTYPE>
<html>

<head>
    <meta charset="UTF-8">
    <title>Welcome to Chat Room</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css">
</head>

<body>
    <span name="user"></span>
    <textarea name='message'></textarea>
    <button name="send">Send</button>
    
    <messages>
    </messages>
    
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>
    <script src="{{ static_url(" chatroom.js ") }}" type="text/javascript"></script>
</body>

</html>
