<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Chat Room Interview</title>
    <link rel="stylesheet" href="{{ static_url("index.css") }}" type="text/css">
</head>

<body>
    
    <div class="background centered">
        <div class="wall-e">
            <div class="head">
                <div class="eye-1">
                    <div class="circle-1"></div>
                </div>
                <div class="eye-2">
                    <div class="circle-2"></div>
                </div>
            </div>
            <div class="body">
                <div class="body-top"></div>
                <div class="hand-1"></div>
                <div class="hand-2">
                    <div class="cable">
                        <div class="leaf-1"></div>
                        <div class="leaf-2"></div>
                        <div class="leaf-3"></div>
                        <div class="leaf-4"></div>
                    </div>
                </div>
                <div class="leg-1"></div>
                <div class="leg-2"></div>
            </div>
        </div>
    </div>

    <div class="centered">
	    <a href="/chatroom" target="_blank"><span class="btn-blue"></span></a>
	    <a href="/chatroom" target="_blank"><span class="btn-red"></span></a>
	    <a href="/chatroom" target="_blank"><span class="btn-green"></span></a>
	    <a href="/chatroom" target="_blank"><span class="btn-yellow"></span></a>
    </div>

    <h3 class="label">click any button to open chat room</h3>

    <div class="signature">
        <p>Made with <i class="much-heart"></i> for this interview by <a href="http://johnidouglas.com/">Johni Douglas</a></p>
    </div>
</body>

</html>
